{% extends 'blog/base.html' %}
{% load emoji_tags %}
{% block content %}
    <div class="container" style="min-height: 100vh;">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil">Edytuj</span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span
                    class="glyphicon glyphicon-remove">Usuń</span></a>
        {% endif %}
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <h2>{{ post.title }}</h2>
        {% autoescape off %}
            {{ emoji|emoji_replace }}
            <div class="col">
            {{ post.text|linebreaksbr }}
        {% endautoescape %}
        </div>

        <br/>

        {% for comment in comments %}
                <p>{{ comment.author }} | {{ comment.Body }}</p>
        {% endfor %}
        <br/>
        {% if user.is_authenticated %}
            <a href="{% url 'addcomment' pk=post.pk %}" class="save btn btn-default">Add some comment</a>
        {% endif %}
    </div>
{% endblock %}